*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(206, 201, 201, 0.6), rgba(206, 201, 201, 0.6)), url(./assets/final-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100% 140%;
    background-position-y: center;
}

.container{
    width: 35%;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
.background-block{
    box-shadow:  0px 5px 25px #ffffff;
    background-color: #ffffff;
}

.container form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputBox{
    width: 100%;
    margin: 3em 0;
    border-radius: 5px;
    overflow: hidden;
}

.inputBox input[type="text"], .inputBox input[type="email"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
    text-align: center;
}

.inputBox textarea{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.header-content {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 3em;
}

.submit-button button {   
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    text-align: center;
    outline: none;
    background: #03efef;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
}
.submit-button {
    display: flex;
    justify-content: center;
}

.inputBox button:hover{
    background: #03efef;
    transition: all 0.3s ease;
}

::placeholder{
    font-size: 16px;
}

.alert{
    width: 100%;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
    margin-top: -1em;
}
#codeCheck{
    padding:3em 2em
}
#SaveUserData{
    padding: 3em 2em;
}
#SaveUserData .title{
    text-align: center;
    margin-bottom: 2em;
}
.footer{
    position:fixed;
    bottom: 1em;
    left: 0;
    display: flex;
    align-items: flex-end;
}
.footer span{
    font-size: x-large;
    font-weight: 600;
    margin: 0 1em;
}


@media only screen and (max-width: 1024px) {
    .container{
        width: 50%;
    }
    #codeCheck{
        padding:2em 0.5em;
    }
    #SaveUserData{
        padding:2em 0.5em;
    }
    .inputBox{
        margin: 1.5em 0;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        width: 60%;
    }
    #codeCheck{
        padding:2em 0.5em;
    }
    #SaveUserData{
        padding:2em 0.5em;
    }
    .inputBox{
        margin: 1.5em 0;
    }
}
@media only screen and (max-width: 450px) {
    .container{
        width: 80%;
    }
    #codeCheck{
        padding:2em 0.5em;
    }
    #SaveUserData{
        padding:2em 0.5em;
    }
    .inputBox{
        margin: 1.5em 0;
    }
}

